# last modified 16 January 2009 by J. Fox

export(Anova,
    Ask,
    av.plot,
    av.plots,
    avp,
    bc,
    box.cox,
    box.cox.axis,
    box.cox.powers,
    box.cox.var,
    box.tidwell,
    ceres.plot,
    ceres.plots,
    confidence.ellipse,
    contr.Helmert,
    contr.Sum,
    contr.Treatment,
    cookd,
    cr.plot,
    cr.plots,
    crp,
    data.ellipse,
    df.terms,
    durbin.watson,
    ellipse,
    has.intercept,
    hccm,
    influencePlot,
    inv,
    is.aliased,
    levene.test,
    leverage.plot,
    leverage.plots,
    lht,
    linear.hypothesis,
    logit,
    Manova,
    mfrow,
    n.bins,
    ncv.test,
    nice,
    outlier.test,
    panel.car,
    power.axis,
    predictor.names,
    prob.axis,
    qq.plot,
    qqp,
    recode,
    reg.line,
    relatives,
    response,
    responseName,
    scatterplot,
    scatterplot.matrix,
    slp,
    some,
    sp,
    spm,
    spread.level.plot,
    subsets,
    symbox,
    term.names,
    Var,
    vif,
    which.names)    
S3method(Anova, aov)
S3method(Anova, coxph)
S3method(Anova, default)                
S3method(Anova, glm)  
S3method(Anova, lm)
S3method(Anova, manova)                  
S3method(Anova, multinom)
S3method(Anova, mlm)            
S3method(Anova, polr)
S3method(Anova, survreg)    
S3method(av.plot, glm)              
S3method(av.plot, lm)       
S3method(box.tidwell, default)       
S3method(box.tidwell, formula)       
S3method(ceres.plot, glm)            
S3method(ceres.plot, lm)            
S3method(confidence.ellipse, glm)    
S3method(confidence.ellipse, lm)     
S3method(cr.plot, glm)               
S3method(cr.plot, lm)     
S3method(df.terms, default)          
S3method(df.terms, multinom)         
S3method(df.terms, polr)  
S3method(durbin.watson, default)     
S3method(durbin.watson, lm)         
S3method(has.intercept, default)     
S3method(hccm, default)              
S3method(hccm, lm)   
S3method(influencePlot, lm)
S3method(levene.test, formula)
S3method(levene.test, lm)
S3method(levene.test, default)         
S3method(leverage.plot, glm)         
S3method(leverage.plot, lm)     
S3method(linear.hypothesis, default) 
S3method(linear.hypothesis, glm)     
S3method(linear.hypothesis, lm)
S3method(linear.hypothesis, mlm)
S3method(Manova, mlm)      
S3method(ncv.test, glm)              
S3method(ncv.test, lm)    
S3method(outlier.test, glm)          
S3method(outlier.test, lm)   
S3method(predictor.names, default)
S3method(print, Anova.mlm)   
S3method(print, box.cox.powers)      
S3method(print, box.tidwell)         
S3method(print, chisq.test)          
S3method(print, durbin.watson)
S3method(print, linear.hypothesis.mlm)       
S3method(print, outlier.test)        
S3method(print, spread.level.plot)   
S3method(qq.plot, default)           
S3method(qq.plot, glm)               
S3method(qq.plot, lm)    
S3method(response, default)          
S3method(responseName, default)      
S3method(scatterplot, default)       
S3method(scatterplot, formula)       
S3method(scatterplot.matrix, default)
S3method(scatterplot.matrix, formula)
S3method(some, data.frame)           
S3method(some, default)              
S3method(some, matrix)      
S3method(spread.level.plot, default) 
S3method(spread.level.plot, formula) 
S3method(spread.level.plot, lm)     
S3method(subsets, regsubsets)        
S3method(summary, box.cox.powers)
S3method(summary, Anova.mlm)    
S3method(term.names, default)        
S3method(Var, default)               
S3method(Var, glm)                  
S3method(Var, lm)   
S3method(vif, lm)                    
        